@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
body{
    font-family: 'Roboto Slab', serif;
    background:var(--more-color);
    margin:0;

}
:root{
    --secondary-color:#D1FAE5;
    --primary-color:#6EE7B7;
    --more-color:#ECFDF5;
    --text-color:#064E3B;
}


nav{
    background:var(--primary-color);
    position:relative;
    
    
}
a{
    text-decoration: none;
    color:white;
}
ul{
    display:flex;
    justify-content: flex-end; 
    margin-top:0;   
}
li{
   flex:0.1 0 auto;
   list-style: none;
   padding-bottom:4rem;
   padding-top:4rem;
   
   
}
#submit-btn{
    height:5vh;
    width:7vw;
    margin:2rem;
    background-color: var(--primary-color);
    border:1px solid var(--text-color);
}
.link{
  color:var(--text-color);
}
p{
    margin-left:2vw;
}

.align{
    margin-left: 4vw;
}
.trio{
    padding-left:3rem;

}
h1{
    text-align: center;
    color:var(--primary-color)
}

@media(max-width:700px) and (min-width:350px){
    #submit-btn{
        width:12vw;
    }
    ul{
        display:flex;

    }
    li{
        flex:1 0 auto;
    }

}
